* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: #000;
    font-family: system-ui, -apple-system, "SF Pro Display", "SF Pro Text",
        Segoe UI, Roboto, Arial, sans-serif;
}

.screen {
    position: relative;
    width: 100%;
    height: 100svh;
    overflow: hidden;
    background: #000;
}

.frame {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
    /* ✅ line может выходить */
}